@import "tailwindcss";

/* safe-area padding */
html, body, #root {
  height: 100%;
  background: #0b0b0b;
  color: #fff;
}

.app {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* شريط أفقي بدون سكرول بار */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* لو الوضع standalone */
@media (display-mode: standalone) {
  .app {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
