@import "tailwindcss";

html, body, #root { height: 100%; }
html, body {
  background: #ffffff;  
}

html.dark, html.dark body {
  background: #0b0b0b;   
}

.app {
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
  background: inherit;
}
